#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// A Colemak-DH based 6 column Corneish-Zen laid out with CAD prioritization
// Shift is accomplished with Mod-Tap on 16 & 19 (T & N)
// Holding the thumb keys shifts between layers, and thumb key holds are symmetric
// 
// To-do: create combos, activate a game-specific layer  

// -------------------------------------The Base Keyboard Layout (with key position)----------------------------------
// |0  HART |1  Q    |2  W    |3  F    |4  P    |5  B    | |6  J    |7  L    |8  U    |9  Y    |10 '    |11 BKSP |
// |12 INFI |13 A    |14 R    |15 S    |16 T    |17 G    | |18 M    |19 N    |20 E    |21 I    |22 O    |23 ;    |
// |24 tt   |25 Z    |26 X    |27 C    |28 D    |29 V    | |30 K    |31 H    |32 ,    |33 .    |34 /    |35 GUI  |
//                          |36 ESC  |37 SPC  |38 SPC |       |39 SPC  |40 SPC  |41 ENT  |

// Layers 
//#define MTH 1
//#define SYM 2
//#define NAV 3
//#define FUN 4
//#define BLU 5
//#define GAM 6

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};




// Keymaps:
/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "Base";                 
                        bindings = <
   &kp TAB      &kp Q   &kp W   &kp F   &kp P   &kp B          &kp J    &kp L   &kp U     &kp Y   &kp '    &kp BSPC
   &kp LCTRL    &kp A   &kp R   &kp S   &mt LSHFT T &kp G               &kp M   &mt RSHFT N &kp E     &kp I   &kp O    &kp SEMI 
   &kp LSHFT    &kp Z   &kp X   &kp C   &kp D        &kp V               &kp N   &kp M        &kp COMMA &kp DOT &kp FSLH &kp GUI
                  &mt 3 ESC   &mt 2 TAB    &mt 1 SPACE      &mt 1 SPACE &mt 2 SPACE &mt 3 ENT
                        >;
                };
                num_layer {
                        label = "Numbers";                 
                        bindings = <
   &kp TAB      &kp Q   &kp W   &kp F   &kp P   &kp B          &kp J    &kp L   &kp U     &kp Y   &kp '    &kp BSPC
   &kp LCTRL    &kp A   &kp R   &kp S   &mt LSHFT T &kp G               &kp M   &mt RSHFT N &kp E     &kp I   &kp O    &kp SEMI 
   &kp LSHFT    &kp Z   &kp X   &kp C   &kp D        &kp V               &kp N   &kp M        &kp COMMA &kp DOT &kp FSLH &kp GUI
                  &mt 3 ESC   &mt 2 TAB    &mt 1 SPACE      &mt 1 SPACE &mt 2 SPACE &mt 3 ENT
                        >;
                };                
                sym_layer {
                        label = "Symbols";                 
                        bindings = <
   &kp TAB      &kp Q   &kp W   &kp F   &kp P   &kp B          &kp J    &kp L   &kp U     &kp Y   &kp '    &kp BSPC
   &kp LCTRL    &kp A   &kp R   &kp S   &mt LSHFT T &kp G               &kp M   &mt RSHFT N &kp E     &kp I   &kp O    &kp SEMI 
   &kp LSHFT    &kp Z   &kp X   &kp C   &kp D        &kp V               &kp N   &kp M        &kp COMMA &kp DOT &kp FSLH &kp GUI
                  &mt 3 ESC   &mt 2 TAB    &mt 1 SPACE      &mt 1 SPACE &mt 2 SPACE &mt 3 ENT
                        >;
                };
                nav_layer {
                        label = "Navigation";                 
                        bindings = <
   &kp TAB      &kp Q   &kp W   &kp F   &kp P   &kp B          &kp J    &kp L   &kp U     &kp Y   &kp '    &kp BSPC
   &kp LCTRL    &kp A   &kp R   &kp S   &mt LSHFT T &kp G               &kp M   &mt RSHFT N &kp E     &kp I   &kp O    &kp SEMI 
   &kp LSHFT    &kp Z   &kp X   &kp C   &kp D        &kp V               &kp N   &kp M        &kp COMMA &kp DOT &kp FSLH &kp GUI
                  &mt 3 ESC   &mt 2 TAB    &mt 1 SPACE      &mt 1 SPACE &mt 2 SPACE &mt 3 ENT
                        >;
                };             
        };
};
