#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// A Colemak-DH based 6 column Corneish-Zen laid out with CAD prioritization
// Shift is accomplished with Mod-Tap on 16 & 19 (T & N)
// Holding the thumb keys shifts between layers. thumb key holds are symmetric
// 
// To-do: create combos, activate a game-specific layer  


// Layers 
#define MTH 1
#define SYM 2
#define NAV 3
#define FUN 4
#define BLU 5
#define GAM 6

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};




// Keymaps:
/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "Base";                 
                        bindings = <
// __________________________________________________________The Base Keyboard Layout (with key position)__________________________________________________________
// |0  HART     |1  Q        |2  W        |3  F        |4  P        |5  B        | |6  J        |7  L        |8  U        |9  Y        |10 '        |11 DEL      |
    &kp TAB      &kp Q        &kp W        &kp F        &kp P        &kp B          &kp J        &kp L        &kp U        &kp Y        &kp APOS     &kp DEL
   
// |12 INFI     |13 A        |14 R        |15 S        |16 T        |17 G        | |18 M        |19 N        |20 E        |21 I        |22 O        |23 ;         |
    &kp LCTRL    &kp A        &kp R        &kp S        &mt LSHFT T  &kp G          &kp M        &mt RSHFT N  &kp E        &kp I        &kp O        &kp SEMI 
   
// |24 CKMT     |25 Z        |26 X        |27 C        |28 D        |29 V        | |30 K        |31 H        |32 ,        |33 .        |34 /        |35 GUI       |  
    &kp LALT    &kp Z        &kp X        &kp C        &kp D        &kp V          &kp K        &kp H        &kp COMMA    &kp DOT      &kp FSLH     &kp LGUI
   
//                               |36 ESC      |37 SPC     |38 SPC       |                  |39 SPC       |40 SPC       |41 ENT       |
                                  &lt SYM ESC  &lt NAV TAB &lt MTH BKSP                      &lt MTH SPACE &lt NAV SPACE &lt SYM RET
                        
                        >;
                };

                num_layer {
                        label = "Numbers";                 
                        bindings = <
   &kp TAB      &kp Q   &kp N7   &kp N8   &kp N9  &kp MINUS          &kp MINUS &kp N7   &kp N8   &kp N9   &kp SEMI    &kp DEL
   &kp LCTRL    &kp A   &kp N4   &kp N5   &kp N6  &kp PLUS           &kp PLUS  &kp N4   &kp N5   &kp N6   &kp O    &kp SEMI 
   &kp LALT     &kp Z   &kp N1   &kp N2   &kp N3  &kp N0             &kp N0    &kp N1   &kp N2   &kp N3   &kp FSLH &kp LGUI
                                  &lt SYM ESC  &lt NAV TAB &lt MTH BKSP   &lt MTH SPACE &lt NAV SPACE &lt SYM RET
                        >;
                };       

                sym_layer {
                        label = "Symbols";                 
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp DEL
   &kp LCTRL &trans   &trans &trans   &kp BSPC  &trans      &kp MINUS &kp BSPC &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LALT  &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE 
                                  &lt SYM ESC  &lt NAV TAB &lt MTH BKSP  &lt MTH SPACE &lt NAV SPACE &lt SYM RET
                        >;
                };

                nav_layer {
                        label = "Navigation";                 
                        bindings = <
   &kp TAB      &kp Q   &kp HOME   &kp UP   &kp END  &kp K_CUT &kp B               &kp SEMI  &kp K_CUT    &kp HOME   &kp UP     &kp END    &kp DEL
   &kp LCTRL      &kp LEFT   &kp DOWN   &kp RIGHT &kp K_COPY   &trans            &trans    &kp K_COPY   &kp LEFT   &kp DOWN   &kp RIGHT    &kp SEMI 
   &tog GAM    &kp Z   &kp X   &kp C   &kp K_PASTE        &kp K_COPY          &kp K_COPY   &kp K_PASTE   &kp COMMA &kp DOT &kp FSLH &kp LGUI
                                  &lt SYM ESC  &lt NAV TAB &lt MTH BKSP   &lt MTH SPACE &lt NAV SPACE &lt SYM RET
                        >;
                };
                fun_layer {
                        label = "Functions";                 
                        bindings = <
   &kp TAB      &kp F7   &kp F8   &kp F9   &kp F12   &kp B          &kp J    &kp L   &kp U     &kp Y   &kp SEMI    &kp DEL
   &kp LCTRL    &kp F4   &kp F5   &kp F6   &kp F11  &kp G               &kp M   &mt RSHFT N &kp E     &kp I   &kp O    &kp SEMI 
   &kp LSHFT    &kp F1   &kp F2   &kp F3   &kp F10        &kp V               &kp N   &kp M        &kp COMMA &kp DOT &kp FSLH &kp LGUI
                                  &lt SYM ESC  &lt NAV TAB &lt MTH BKSP                      &lt MTH SPACE &lt NAV SPACE &lt SYM RET
                        >;
                };    
                bth_layer {
                        label = "BT Pairing";                 
                        bindings = <
   &kp TAB      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4          &kp J    &kp L   &kp U     &kp Y   &kp SEMI    &kp BSPC
   &kp LCTRL    &kp A   &kp R   &kp S   &mt LSHFT T &kp G               &kp M   &mt RSHFT N &kp E     &kp I   &kp O    &kp SEMI 
   &kp LSHFT    &kp Z   &kp X   &kp C   &kp D        &kp V               &kp N   &kp M        &kp COMMA &kp DOT &kp FSLH &kp LGUI
                  &lt NAV ESC   &lt SYM TAB    &lt MTH DEL      &lt MTH SPACE &lt SYM SPACE &lt NAV RET
                        >;
                };       
                game_layer {
                        label = "Gaming";                 
                        bindings = <
   &kp TAB      &kp Q   &kp W   &kp F   &kp P   &kp B          &kp J    &kp L   &kp U     &kp Y   &kp SEMI    &kp BSPC
   &kp LCTRL    &kp A   &kp R   &kp S   &kp T &kp G               &kp M   &kp N &kp E     &kp I   &kp O    &kp SEMI 
   &tog GAM    &kp Z   &kp X   &kp C   &kp D        &kp V               &kp N   &kp M        &kp COMMA &kp DOT &kp FSLH &kp LGUI
                  &lt NAV ESC   &lt SYM TAB    &lt MTH DEL      &lt MTH SPACE &lt SYM SPACE &lt NAV RET
                        >;
                };                            
        };
};
